body{
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    text-align:center;
    font-family:Arial,sans-serif;
    padding-top:100px;
}

h1{
    font-size:40px;
}

p{
    font-size:20px;
}
img{
  width:180px;
  margin:10px;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,0.3);
}
